.main-cont{
  height: 100vh;
  background-color: #FFFFFF;
}
.header-cont{
  height: 80px;
  background-color: #7330F8;
}
.footer-cont{
  height: 200px;
  background-color: #F8F9FA;
}
.section-cont{
  min-height: 100vh;
}